@model FlexiHouseFinal.Models.Consignment

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";

}
@using FlexiHouseFinal.Models

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <br>
    <div class="row">

        <div class="col-lg-14">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i> Edit Consignment



                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">




                    <div class="form-horizontal">


                    


                        <div class="form-group">
                            <div class="col-md-10">
                                <label class="control-label">Consignment No:</label>&nbsp;  <strong> <label id="consignmentNumber2"> @Model.id</label></strong>

                            </div>

                            <div class="col-md-10">
                                <label class="control-label">Supplier Name:</label>
                                <input type="text" id="txtSupplierName" value="@Model.supplier" class="form-control tbLength" required />

                            </div>
                        </div>

                        <div class="form-group">

                            <div class="col-md-10">
                                <label class="control-label">Arrival Date:</label>
                                <input type="date" class="datepicker tbLength form-control" value="@Model.arrivalDate" id="txtArrivalDate" readonly="true" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-10">
                                <label class="control-label">Consignment Items</label>&nbsp;
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Item Name</th>
                                            <th>Quanitity</th>
                                            <th>Expiry Date</th>
                                            <th>Product Code</th>
                                            <th>Manufacturer</th>
                                            <th>Country</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody id="TextBoxesGroup">

                                       @{int count = 1;
                                           List<Item_Consignment> ic = ViewBag.ItemDetails;

                                           }
  @{ 
      try
      {
                                    foreach (var item in ic)
                                    {
                                        <tr>
                                            @{ var itemName = "txtItemName" + count;
                                                var identity = "r" + count;
                                             }
                                            <td><input type="text" value="@item.Item.itemName" id="@itemName" class="form-control @identity" disabled></td>
                                            @{ var quantity = "txtQuantity" + count;}
                                            <td><input type="number" min="1" value="@item.quantity" id="@quantity" class="form-control @identity" required disabled></td>
                                            @{ var expiry = "txtExpiryDate" + count;}
                                            <td><input type="date" value="@item.expiry" id="@expiry" class="form-control datepicker @identity" required disabled></td>
                                            @{ var pcode = "txtProductCode" + count;}
                                            <td><input type="text" value="@item.Item.itemCode" id="@pcode" class="form-control @identity" required disabled></td>
                                            @{ var manufacturer = "txtManufacturer" + count;}
                                            <td><input type="text" value="@item.Item.Manufacturer" id="@manufacturer" class="form-control @identity" required disabled></td>
                                            @{ var country = "txtCountry" + count;}
                                            <td><input type="text" value="@item.Item.Country" id="@country" class="form-control @identity" required disabled></td>
                                       <!--<td><button class="btn btn-danger deleter" id="//item.Item.id">Remove Item</button></td>-->
                                           @{ count++;}
                                        </tr>
                                               }
                                               }catch(Exception ex) { }
     }
                                    </tbody>
                                </table>
                             
                                <button id="addButton" class="btn btn-default">+ Add More Items</button><input type="text" id="currentCount" style="visibility:hidden;" value="@count" />
                            </div>
                        </div>
                        <input type="hidden" id="hfCustomer" name="CustomerId" />

                        <hr>
                        <div class="form-group">
                            <div class="col-md-10">
                                <button class="btn btn-success" id="btnUpdateConsignment">Edit Consignment</button><a href="/Consignments/Index" class="btn btn-default" >Back to Consignments</a>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <!-- /.panel-body -->
        </div>


    </div>




}
<br />


