@using FlexiHouseFinal.Models
@using FlexihouseRoutinesTest
@model List<Order>
@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_WorkerLayout.cshtml";
}

<br /><br />
<h3 style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif"> Orders </h3>
<hr>

<div class="left_col" role="main">
    <div class="">

        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">

                    <div class="x_content">
                        <table class="table table-bordered">
                            <thead >
                                <tr style="">
                                    <th></th>
                                    <th>Customer Details</th>
                                    <th>Order Details</th>
                                    <th>Dispatched on</th>
                                    <th>Instruction</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="">
                                @{ WarehouseDBEntities wde = new WarehouseDBEntities();

                                }
                                @{ int i = 0;

                                    int? currentDispatchid = -2;
                                    int? prevID = -3;
                                    try
                                    {
                                        foreach (var order in Model)
                                        {
                                            currentDispatchid = order.dispatchNo;

                                            Customer customer = wde.Customers.Where(c => c.id == order.customerId).FirstOrDefault();
                                            <tr>
                                                <td>@if (order.orderStatus == "Dispatched") { <a style="color:red;font-size:large">New</a>}</td>
                                                <td>


                                                    <label style="font-weight:bold;" class="control-label" for="name">
                                                        Full Name<span class="required"> : </span>
                                                    </label>

                                                    <label class="control-label">@customer.fullName</label>
                                                    <br>


                                                    <label style="font-weight:bold;" class="control-label" for="name">
                                                        Email<span class="required"> : </span>
                                                    </label>
                                                    <label class="control-label">@customer.email</label>

                                                    <br>

                                                    <label style="font-weight:bold;" class="control-label" for="name">
                                                        Contact No<span class="required"> : </span>
                                                    </label>

                                                    <label class="control-label">@customer.contact</label>


                                                    <br>

                                                    <label style="font-weight:bold;" class="control-label" for="name">
                                                        Organization Name<span class="required"> : </span>
                                                    </label>

                                                    <label class="control-label">@customer.organizationName</label>
                                                    <br>

                                                    <label style="font-weight:bold;" class="control-label" for="name">
                                                        Organization Address<span class="required"> : </span>
                                                    </label>
                                                    <label class="control-label">@customer.organizationAddress</label>
                                                </td>

                                               @{ var details = "details" + order.orderId; }
                                                <td id="@details">


                                                    @{
                                                        List<item_Order> itemOrderList = wde.item_Order.Where(a => a.orderId == order.orderId).ToList();


                                                    }
                                                    @foreach (item_Order itemOrder in itemOrderList)
                                                    {
                                                        Item item = wde.Items.FirstOrDefault(c => c.id == itemOrder.itemId);
                                                     
                                                        <div> <label class="control-label" style="margin-left:5px;"> @itemOrder.quantity<label class="control-label">x</label> @item.itemName</label></div>
                                                        <br>
                                                    }

                                                </td>
                                                <td>@order.orderDate.Value.ToShortDateString()</td>
                                                @if (prevID != currentDispatchid)
                                                {
                                                    prevID = currentDispatchid;

                                                    i = 1;
                                                    List<Order> od = Model.Where(a => a.dispatchNo == order.dispatchNo).ToList();
                                                    Slotting sl = new Slotting();
                                                    var instruct = "instructions" + order.orderId;
                                                    <td rowspan="@od.Count" style="vertical-align:middle;" id="@instruct">

                                                        @{

                                                            string inst = "";

                                                        }
                                                        <ul>
                                                            @foreach (var z in od)
                                                            {

                                                                List<String> ins = sl.string_to_object(z.instruction);
                                                                inst = "";
                                                                foreach (var kk in ins)
                                                                {

                                                                    <li>@kk.ToString()</li>
                                                                }

                                                            }
                                                        </ul>

                                                    </td>
                                                            }


                                        <td style="vertical-align:middle;">@Html.ActionLink("Mark as Completed Order", "CompletedOrder", new { id = order.orderId }, htmlAttributes: new { @class = "btn btn-success", onclick = "return confirm('Are you sure you have delivered this order to depot?')" })
                                            <button id="@order.orderId" class="btn btn-default" onclick="return printOrderInstruction(this.id)">Print Instructions</button>    
                                            </td>
                                            </tr>


                                                                }



                                                            }
                                                            catch (Exception ex) { }


                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>